body{
    display: flex;
    background-color: #1e1e2f;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;


}
#container{
    background-color: #2c2c3e;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-radius: 10px;

}

button{
    cursor: pointer;
      margin-top: 15px;
    padding: 8px 15px;
}